<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lnybrave.zzbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ColumnActivity" />
        <activity android:name=".ui.activity.RankingActivity" />
        <activity android:name=".ui.activity.ClassificationActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.BookDetailActivity" />
        <activity android:name=".ui.activity.ReaderActivity" />
        <activity android:name=".ui.activity.ClassificationDetailActivity" />
        <activity android:name=".ui.activity.CatalogActivity" />
        <activity android:name=".ui.activity.AccountActivity" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ui.activity.MyTracksActivity" />
        <activity android:name=".ui.activity.MessagesActivity" />
        <activity android:name=".ui.activity.SettingsActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.RetrievePasswordActivity"
            android:launchMode="singleTop"></activity>
    </application>

</manifest>